.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: #07b568;
}
.header img {
    width: 40px; 
}

.nav {
    grid-area: n;
    background-color: #07b568;
}

.content {
    grid-area: c;
    background-color: white;
}
.content img {
    width: 600px; 
    /*height: 200px;*/
}